<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemiWatch"
        tools:targetApi="31">
        <activity
            android:name=".features.patient_detail.change_address.ChangeAddressActivity"
            android:exported="false" />
        <activity
            android:name=".features.patient_detail.PatientDetailActivity"
            android:exported="false" />
        <activity
            android:name=".features.dashboard.MainActivity"
            android:exported="false" />
        <activity
            android:name=".features.fill_profile.patient.FillProfilePatientActivity"
            android:exported="false" />
        <activity
            android:name=".features.fill_profile.user.FillProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".features.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".features.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".features.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.maps.MapsActivity"
            android:exported="false" />
    </application>

</manifest>